.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
header {
  width: 100%;
  height: 500px;
  background: #2c2e31;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.frame {
  display: block;
  padding: 20px 0;
  border-radius: 6px;
  background-color: #e2eff0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  width: 100%;
  text-align: center;
  z-index: 5;
  max-width: 730px;
  margin: auto;
  overflow: hidden;
}

.card {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-align: center;
  font-family: Ubuntu, sans-serif;
  color: rgb(92, 82, 82);
  padding: 20px 0px;
  z-index: 5;
}

.card_offset {
  margin-top: 200px;
}

.card #user_title {
  font-size: 18px;
  margin: 0;
}

img {
  border-radius: 50%;
}
.horizontal_center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.user_value {
  color: rgb(92, 82, 82);
  font-size: 38px;
  margin: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
